@import url(./variable.css);
@import url(./font.css);

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 64.5%;
}

body {
  font-family: 'DMSans', sans-serif;
  max-width: var(--layout-width);
}

main {
  margin-inline: var(--layout-margin);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  line-height: 24px;
}

.tertiary--button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-bt-text-colour);
  background-color: var(--tertiary-bt-bg);
  width: 148px;
  height: 48px;
  border-radius: 12px;
}

.primary--button {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-bt-bg);
  height: 64px;
  border-radius: 12px;
  color: var(--primary-bt-text-colour);
}

#main-header__navigation {
  margin-inline: var(--layout-margin);
}

.resest-option__checkMark {
  display: inline-flex;
  width: 28px;
  height: 28px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  align-self: center;
  margin-left: auto;
  background-color: var(--primary-colour);
}
